@CHARSET "UTF-8";
body {behavior: url(csshover.htc);} /* WinIE behavior call */
h1 {color: #838B8B; border-bottom: 1px solid; margin-bottom: 0;}
#main {color: #CCC; margin-left: 9em; padding: 3em 0 1px 10%;
  border-left: 1px solid;}
div#nav {float: left; margin: -1px 0 0 9em;
  background: #FFF; border: 1px solid #AAA;}
div#nav ul {margin: 0; padding: 0; background: white;
  border: 1px solid #CCC; border-width: 0 1px;}
div#nav li {position: relative; list-style: none; margin: 0;
  float: left; width: 9em; line-height: 1em;}
div#nav li:hover {background: #FF8C00;}
div#nav li.submenu {}
div#nav li.submenu:hover {background-color: #FF8C00;}
div#nav li a {display: block; padding: 0.25em 0 0.25em 0.5em;
  text-decoration: none; width: 6.5em;}
div#nav>ul a {width: auto;}
div#nav ul ul {position: absolute; width: 9em;
  display: none;}
div#nav ul ul li {border-bottom: 1px solid #CCC;}
div#nav li.submenu li.submenu {}
div#nav li.submenu li.submenu:hover {background-color: #FF8C00;}
div#nav ul.level1 li.submenu:hover ul.level2, 
div#nav ul.level2 li.submenu:hover ul.level3 {display:block;}
div#nav ul.level2 {top: 1.5em; left: -1px;}
div#nav ul.level3 {top: -1px; left: 9em;
  border-top: 1px solid #CCC;}
.style1 {color: #000000}

div.content { clear:both; padding-left: 20px}

th {min-width: 100px;}

.fa-warning {
	color: #FFFF00;
	background-color: #000000;
}
.fa-trash-o {
	color: #FF0000;
}
.fa-check {
	color: #009900;
}

input[type=text] {
	width: auto;
}
.message-icon {
	height: 64px;
	width: 64px;
	font-size: 2em;
	float: left;
	margin-left: -30px;
}
.message-icon i {
	padding-left: 20px;
}
.message {
	width: 100%;
}

.code_table th.code {
	width: 50px;
}
.code_table th.display_name {
	width: 250px;
}
.code_table th.site_link {
	width: 100px;
}
.code_table th.message {
	width: 300px;
}
.code_table .fa-edit {
	text-align: right;
}
.floor_table {
	max-width: 1000px;
}


#footer {
	width: 50%;
	margin: 1em auto 0 auto;
}


h2 {
	font-size: 1.5em;
	margin: 2em 0 1em 0;

}
h3 {
	font-size: 1.3em;
	margin: 1em 0 1em 0;
}
div.indent {
	margin-left: 2em;
}
#locator {
	border: 5px solid black;
	width: 770px;
	height: 640px;
	margin-top: 20px;
	margin-left: 10px;
	z-index: 2;
}

#tabs {
	z-index: 10;
}

.edit_row {
	background-color: orange;
}
