@CHARSET "UTF-8";
body {behavior: url(csshover.htc);} /* WinIE behavior call */
#main {color: #CCC; margin-left: 9em; padding: 3em 0 1px 10%;
  border-left: 1px solid;}
div#nav {  background: #000; border: 1px solid #AAA; height: 2em;}
div#nav ul {margin: 0; padding: 0; background: white;
  border: 1px solid #FFF; border-width: 0 1px;}
div#nav li {position: relative; list-style: none; margin: 0;
  float: left; width: 12em; line-height: 1.5em;}
div#nav li:hover {background: #FF8C00;}
div#nav li.submenu {}
div#nav li.submenu:hover {background-color: #FF8C00;}
div#nav li a {display: block; padding: 0.25em 0 0.25em 0.5em;
  text-decoration: none; width: 100%; color: #FFF; font-weight: bold; }
div#nav>ul a {width: auto;}
div#nav ul ul {position: absolute; width: 14em;
  display: none;}
div#nav ul ul li {border-bottom: 1px solid #CCC; width: 100%;}
div#nav li ul li a {display: block; padding: 0.25em 0 0.25em 0.5em;
  text-decoration: none; width: 100%; color: #000; background-color: #FFF; font-weight: bold; 
  border-left: 1px solid #ccc;  border-right: 1px solid #ccc;

  }
div#nav li.submenu li.submenu {}
div#nav li.submenu li.submenu:hover {background-color: #FF8C00;}
div#nav ul.level1 li.submenu:hover ul.level2, 
div#nav ul.level2 li.submenu:hover ul.level3 {display:block; background-color: #FF8C00; }
div#nav li ul li a:hover {background-color: #000; font-weight: bold; color: #FFF;}
div#nav ul.level2 {top: 2em; left: 0;}
div#nav ul.level3 {top: 0; left: 9em;
  border-top: 1px solid #CCC;}
.style1 {color: #000000}

div.content { clear:both; padding-left: 20px}

th {min-width: 100px;}

.fa-warning {
	color: #FFFF00;
	background-color: #000000;
}
.fa-trash-o {
	color: #FF0000;
}
.fa-check {
	color: #009900;
}

input[type=text] {
	width: auto;
}
.message-icon {
	height: 64px;
	width: 64px;
	font-size: 2em;
	float: left;
	margin-left: -30px;
}
.message-icon i {
	padding-left: 20px;
}
.message {
	width: 100%;
}

.code_table th.code {
	width: 50px;
}
.code_table th.display_name {
	width: 250px;
}
.code_table th.site_link {
	width: 100px;
}
.code_table th.message {
	width: 300px;
}
.code_table .fa-edit {
	text-align: right;
}
.floor_table {
	max-width: 1000px;
}


#footer {
	width: 50%;
	margin: 1em auto 0 auto;
}


h2 {
	font-size: 1.5em;
	margin: 2em 0 1em 0;

}
h3 {
	font-size: 1.3em;
	margin: 1em 0 1em 0;
}
div.indent {
	margin-left: 2em;
}
#locator {
	border: 5px solid black;
	width: 770px;
	height: 640px;
	z-index: 2;
}

#tabs {
	z-index: 10;
}

.edit_row {
	background-color: orange;
}

.header img {
	margin-left: 20px;
}
.header h1 {
	display: inline;
	color: #838B8B;
	margin-left: 20px;
}
div#nav {
	clear:both;
}
.header { border-bottom: 1px solid; padding-bottom: 1em;}

