# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml


#Locator Specific
.htaccess
.project
.git/*
.buildpath
*.DS_Store
includes/db_config.php
.project
.buildpath
.settings/*
images/stage
images/live

sql-files
