# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml


#Locator Specific
.htaccess
.project
.git/*
.buildpath
*.DS_Store
includes/db_config.php
.project
.buildpath
.settings/*
images/stage
images/live

sql-files
css/Font-Awesome/less
css/Font-Awesome/scss
css/Font-Awesome/src
css/Font-Awesome/_config.yml
css/Font-Awesome/component.json
css/Font-Awesome/composer.json
css/Font-Awesome/CONTRIBUTING.md
css/Font-Awesome/Gemfile
css/Font-Awesome/Gemfile.lock
css/Font-Awesome/package.json
css/Font-Awesome/README.md
images/IllustratorFiles
images/live
images/production
images/stage
